HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
JWT_SECRET=tobemodified

DATABASE_HOST=YOUR_DATABASE_HOST
DATABASE_HOST=YOUR_DATABASE_PORT
DATABASE_SCHEMA=YOUR_DATABASE_SCHEMA
DATABASE_NAME=YOUR_DATABASE_NAME
DATABASE_USERNAME=YOUR_DATABASE_USERNAME
DATABASE_PASSWORD=USER_DATABASE_PASSWORD

CLOUDINARY_NAME=YOUR_CLOUDINARY_NAME
CLOUDINARY_KEY=YOUR_CLOUDINARY_API_KEY
CLOUDINARY_SECRET=YOUR_CLOUDINARY_API_SECRET
